.background-size-box {
    background-color: #add8e6;
    background-image: url('https://edube.org/uploads/media/default/0001/04/flowers-banner.png');
    background-size: cover; /* Ensuring the background covers the entire element */
    background-clip: border-box; /* Defines how far the background extends */
    padding: 30px;
    border: 5px solid black;
    margin: 20px;
  }

  .hidden {
    visibility: hidden;
}

.custom-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.custom-form label {
    margin-top: 10px;
    display: block;
    color: #333;
}

.custom-form input[type="text"],
.custom-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}